*{
  margin: 0;
}
.app{
  background-color: #fafafa;

}
.app__header{
  position: sticky;
  top: 0;
  /* this z index is for removing overlapping the avatar and the header */
  z-index: 1;
  background-color: white;
  padding: 20px;
  border-top: 1px solid lightgrey;
  object-fit: contain;
  display:flex;
  justify-content:space-between;
}
.app__headerImage{
  object-fit: contain;
}

.app__signup{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.app__posts{

  padding:20px;
  display:flex;
  justify-content: center;
}

.app__postsRight{
  margin-left:20px;
}