.imageUpload{
    display:flex;
    flex-direction:column;
    width:60%;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    margin-bottom:10px;
 
}
.imageUpload__progress{
    width:100%;
}