.post{
    max-width: 500px;
    background-color: white;
    border:1px solid lightgrey;
    margin-bottom:45px;

}

.post__image{
    width:100%;
    height:500px;
    object-fit: contain;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
   
}
.post__text{
    font-weight:normal;
    padding: 20px;
}
.post__header{
    display:flex;
    align-items: center;
    padding:20px;
    
}
.post__avatar{
    margin-right: 10px;
}
.post__CommentBox{
    display:flex;
    margin-top: 10px;
}
.post__comment{
    padding: 10px;
}

.post__input{
    flex: 1;
    border: none;
    padding: 10px;
    border-top: 1px solid lightgrey;
}
.post__button{
    flex:0;
    border: none;
    color:#6082a3;
    background-color:transparent;
    border-top: 1px solid lightgrey;
}